@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,100&family=Righteous&display=swap');

.nav-bar {
    display: flex;
    padding: 5px;
    background: maroon;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 75px;
    margin-right: 85px;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

:global(.button).nav-button {
    margin-left: 1rem;
}

.filterBtn{
    font-size: 15px;
    padding-left: 1px;
}

.openNowBtn{
    font-size: 15px;
    padding-left: 1px;
    margin-left: 5px;
}