@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,100&family=Righteous&display=swap');

.MainBodyContainer{
    padding-top: 4%;
    background-image:linear-gradient(rgba(238, 150, 78, 0.3), rgba(145, 69, 69, 0.7)), url(https://www.gannett-cdn.com/-mm-/9e1f6e2ee20f44aa1f3be4f71e9f3e52b6ae2c7e/c=0-110-2121-1303/local/-/media/2020/03/10/USATODAY/usatsports/gettyimages-838816102.jpg?width=1600&height=800&fit=crop&format=pjpg&auto=webp);
    background-size: cover;
    height: 585px;
    background-repeat: no-repeat;   
}
.jumbotron{
   position: relative;
   opacity: .4;
   margin-left: 22%;
   margin-right: 22%;
  
}

.display-4{
    position: relative;
    text-align: center;
    color: maroon;
    font-family: 'Righteous', cursive;
}

p.lead{
    font-weight: 600;
    color: black;   
}

p{
    font-weight: 600;
    text-align: center;
    color: black;    
}

.btn-primary.btn-lg{
    position: relative;
    margin-left: 37%;
    margin-right: 37%;
}

.btn-secondary.btn-lg{
    background-color: maroon;
    
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}
input{
    border-radius: 5%;
    border-color: maroon;
    border-width: 5px;
    text-align: center;
    font-weight: 600;
   
}