@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,100&family=Righteous&display=swap');

.socialDistancing{
    background-color: rgb(255, 255, 255);
    column-count: 3;
    padding-top: 5%;
    padding-bottom: 5%;
    display: inline-block;
    text-align: center;
    width: 100%;
    
}

.imgTitle{
    font-family: 'Righteous', cursive;
}

img{
    padding-top: 10%;
    width: 70%;
}
.symptoms{
height: 300px;
padding-top: 5%;
margin-top: 8%;
}
.lineImage{
    margin-top:-11%;
 margin-bottom: 5%;
 width: 90%;
}

.caption {
    padding: 12%;
    padding-top: 5%;
    display: block;
}
  
.caption3{
    display: block;
    padding-left: 12%;
    padding-right: 12%;
}